table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #c2c2c2}
  
  th {
    background-color: #04AA6D;
    color: white;
  }
caption{
    caption-side: top;
}